parameters:
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Call to an undefined static method Illuminate\\Support\\Facades\\([a-zA-Z0-9_]+)::([a-zA-Z0-9_]+)\(\)#'
		- '#Static method Illuminate\\Support\\Facades\\Route::group\(\) invoked with 2 parameters, 1 required#'
		- '#Function rest not found#'
	excludes_analyse:
		- %rootDir%/../../../src/Resources/Migrations/*